@media(min-width: 80em) {
  #nav-mobile {
    display: none;
  }

  .content-container {
    margin-inline: auto;
    width: min(100%, 73.75rem);
  }

  .line-break {
    white-space: pre-line;
  }

  header {
    background-color: var(--color-bg-dark);
    padding: 0;
  }

  header .content-container {
    justify-content: space-between;
    padding: 2.5em 3.125em;
  }

  section {
    padding: 2.5em 3.125em;
  }

  .nav-menu {
    all: unset;
  }

  .nav-menu__link {
    font-size: 1em;
    padding: 0 2em;
  }

  .nav-menu__link:hover {
    color: var(--color-action);
  }

  #landing-page .content-container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .main-img {
    width: 30em;
    height: 34.375em;
  }

  .main-txt {
    width: 50%;
    display: flex;
    align-self: center;
  }

  .main-txt__heading {
    font-size: 4em;
  }

  .main-txt .txt {
    font-size: 1.5em;
  }

  .action-button {
    padding: 1.25em 1.875em ;
    width: fit-content;
    color: black;
  }

  .action-button--small {
    font-size: 0.875em;
    padding: 0.938em 1.563em  ;
  }

  #intro-section {
    width: 100%;
    padding: 0;
  }

  #about-me-section .content-container {
    display: flex;
    gap: 7.5em;
  }

  #about-me-section article {
    flex: 1;
  }

  #intro-section, 
  #about-me-section, 
  #reviews-section,
  #work-with-me-section {
    scroll-margin-top: 7.5em;
    scroll-snap-align: start;
  }

  #about-me-section {
    padding: 0;
  }

  #reviews-section {
    padding: 0;
  }

  #reviews-section .content-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5em;
  }

  #reviews-section .content-container article {
    width: 100%;
    padding: 7.5em 0 3.75em 0;
  }

  #reviews-container {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
    padding: 0;
  }

  #work-with-me-section {
    padding: 0;
  }

  .txt-title {
    padding-bottom: 1.875em;
  }

  #work-with-me-section .content-container {
    padding: 7.5em 0;
    display: flex;
    flex-direction: column;
  }

  #work-with-me-section .content-container article {
    width: 50%;
    padding: 0 0 7.5em 0;
  }

  #work-with-me-section .content-container article:nth-child(2) {
    align-self: start;
  }

  #work-with-me-section .content-container article:nth-child(4) {
    align-self: end;
    width: auto;
  }

  #work-with-me-section .content-container article:nth-child(6) {
    align-self: start;
  }

  .outline-txt {
    display: none;
  }

  #work-with-me-section .content-container article:nth-child(2)::after {
    content: '1. Poznajmy się';
    position: absolute;
    right: 0;
    font-size: 8em;
    color: var(--color-bg-dark);
    font-weight: bolder; 
    text-shadow: 
        -2px -2px 0 white,
        -2px 2px 0 white,
        2px -2px 0 white,
        2px 2px 0 white;
    opacity: 0.1;
    white-space: nowrap;
  }


  #work-with-me-section .content-container article:nth-child(4)::after {
    content: '2. Trening oraz edukacja';
    position: absolute;
    left: 0;
    font-size: 8em;
    color: var(--color-bg-dark);
    font-weight: bolder; 
    text-shadow: 
        -2px -2px 0 white,
        -2px 2px 0 white,
        2px -2px 0 white,
        2px 2px 0 white;
    opacity: 0.1;
    white-space: nowrap;
  }

  #work-with-me-section .content-container article:nth-child(6)::after {
    content: '3. Kontrola efektów';
    position: absolute;
    right: 0;
    font-size: 8em;
    color: var(--color-bg-dark);
    font-weight: bolder; 
    text-shadow: 
        -2px -2px 0 white,
        -2px 2px 0 white,
        2px -2px 0 white,
        2px 2px 0 white;
    opacity: 0.1;
    white-space: nowrap;
  }

  .review {
    flex: 1;
  }

  .section-divider {
    width: 100%;
    display: flex;
  }

  article {
    align-self: center;
    padding: 6.25em 0;
  }

  #big-img {
    width: 30em;
    height: 34.375em;
    margin: 6.25em 0;
    align-self: center;
  }

  .txt-title {
    padding-bottom: 1.875rem;
  }

  #contact-section {
    padding: 0;
  }

  #contact-section .content-container {
    display: flex;
    flex-direction: row;
    padding: 6.25em 0;

  }

  #contact-section .content-container article {
    padding: 0;
  }

  #contact-section .content-container .txt {
    padding: 0;
  }

  #contact-section .content-container span {
    width: 50%;
  }

  #contact-section .content-container form {
    width: 50%;
  }

  #social-media {
    align-items: flex-start;
  }

  #social-media h3 {
    margin: 0;
  }

  #social-media {
    margin-top: 3.125em;
  }

  #social-media span {
    justify-content: flex-start;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.25em;
    align-self: flex-end;
  }

  form input[type="text"] {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }

  form input[type="email"] {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
  }

  form .action-button {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
  }

  form textarea {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0;
  }

  footer {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  footer .content-container {
    padding: 1.25em 0;
  }
}

@media(min-width: 120em) {

}