/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap');

/* Global Styles */

:root {
  --color-accent: #1AA1E5;
  --color-action: #3DB8F5;
  --color-bg-light: #0C1113;
  --color-bg-dark: #06090A;
  --color-bg-review: #161B1D;
  --color-txt-body: #ECF4F9;
  --color-txt-placeholder: #8F9BA3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
  color: white;
}

img {
  max-width: 100%;
}

section {
  padding: 2em 1em;
}

/* Typography */

.txt {
  color: var(--color-txt-body);
  font-size: 0.875em;
}

.txt-title {
  color: white;
  font-size: 2em;
}

.txt-point {
  font-size: 1.25em;
}

/* Utility Classes */

.flex-1 {
  flex: 1;
}

.bg-light {
  background-color: var(--color-bg-light);
}

.bg-dark {
  background-color: var(--color-bg-dark);
}

.line-break {
  white-space: normal;
}

.no-scroll {
  overflow: hidden;
}

/* Components Style */

header {
  padding: 1em 1em 1.5em 1em;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: background .5s;
}

.menu-icon {
  width: 2em;
  height: 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon-line {
  width: 100%;
  height: 0.1875em;
  position: relative;
  border-radius: 0.625em;
  background-color: var(--color-txt-body);
  opacity: 1;
  transition: all .5s, opacity 0.5s;
}

.hide {
  transform: translateX(100%);
  opacity: 0;
}

.rotate45-right {
  transform: translateY(calc(1em - 0.1875em/2)) rotate(-45deg);
}

.rotate45-left {
  transform: translateY(calc(0.1875em/2 - 1em)) rotate(45deg);
}

.nav-menu {
  width: 100%;
  height: calc(100vh - 5em);
  position: absolute;
  left: 0;
  top: 5em;
  z-index: -1;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}

.nav-menu--open {
  visibility: visible;
  opacity: 1;
}

.nav-menu__link {
  all: unset;
  padding: 2em;
  font-size: 2em;
  cursor: pointer;
}

#main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.content-container {
  all: inherit;
}

#landing-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.main-img {
  margin-bottom: calc(1em-10px);
  height: 100%;
  background-image: url('../assets/images/maciej.jpg');
  background-size: cover;
  filter: drop-shadow(-10px 10px 0px white);
}

.main-txt {
  width: 100%;
  padding: 2em 1em; 
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: 1.5em;
}

.main-txt__heading {
  font-size: 2.25em;
}

.action-button {
  all: unset;
  box-sizing: border-box;
  padding: 1.5em;
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-accent);
  box-shadow: 0px 5px 20px rgba(25, 162, 230, 0.4);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.action-button:hover {
   background-color: var(--color-action);
   box-shadow: 0px 5px 30px rgba(61, 184, 245, 0.35);
}

#intro-section, 
#about-me-section, 
#reviews-section,
#work-with-me-section {
  scroll-margin-top: 1.5em;
  scroll-snap-align: start;
}

#social-media {
  scroll-snap-align: start;
}

article {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

article .action-button {
  margin-bottom: 0.5em;
}

#big-img {
  width: 100%;
  height: calc(100vh - 18.25em);
  background-image: url('../assets/images/why_me.jpg');
  background-size: cover;
  filter: drop-shadow(-10px 10px 0px white);
}

#reviews-container {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.review {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-review);
}

.review-img-container {
  width: 100%;
  height: 15.625em;
  display: flex;
}

.review-img {
  flex: 1;
}

.review-img img {
  height: 100%;
  object-fit: cover;
}

.review-txt {
  color: var(--color-txt-body);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.reviewer-details {
  font-size: 1em;
  font-weight: 600;
}

.review-txt p:nth-child(3) {
  margin-top: 0.5em;
}

footer {
  text-align: center;
  padding: 1em;
  font-size: 0.875em;
}

form input, textarea {
  width: 100%;
  font-size: 0.875em;
  padding: 0.625em;
  margin-bottom: 1em;
  border: 1px solid var(--color-bg-review);
  background-color: var(--color-bg-dark);
  color: var(--color-txt-placeholder);
}

textarea {
  resize: none;
  height: 10.25em;
}

#social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-media h3 {
  margin-top: 2em;
}

#social-media span {
  width: 100%;
  margin: 1em 0 2em 0;
  display: flex;
  justify-content: center;
  gap: 0.625em;
}

.outline-txt {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 4em;
  transform: translateY(-50%);
  padding-bottom: 0.5em;
  color: var(--color-bg-dark);
  font-weight: bolder; 
  text-shadow: 
      -2px -2px 0 white,
      -2px 2px 0 white,
      2px -2px 0 white,
      2px 2px 0 white;
  opacity: 0.1;
  white-space: nowrap;
}
