@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap');

:root {
    --color-accent: #1AA1E5;
    --color-bg-light: #0C1113;
    --color-bg-dark: #06090A;
    --color-txt-body: #ECF4F9;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}