@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap');

:root {
  --color-accent: #1AA1E5;
  --color-bg-light: #0C1113;
  --color-bg-dark: #06090A;
  --color-bg-review: #161B1D;
  --color-txt-body: #ECF4F9;
  --color-txt-placeholder: #8F9BA3;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  overflow: hidden;
  color: white;
  max-width: 100vw;
}

img {
  max-width: 100%;
}

.txt-title {
  color: white;
  font-size: 2em;
}

.txt-body {
  color: var(--color-txt-body);
  font-size: 14px;
}

.heading-small {
  font-size: 1.25em;
}

.bg-light {
  background-color: var(--color-bg-light);
}

.bg-dark {
  background-color: var(--color-bg-dark);
}

.enter-line-break {
  white-space: pre-line;
}

header {
  position: fixed;
  width: 100%;
  padding: 1em 1em 1.5em 1em;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: background .8s;
}

nav {
  height: 100%;
}

.nav-menu {
  display: flex;
  position: absolute;
  left: 0;
  top: 5em;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg-dark);
  z-index: -1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility .5s, opacity .5s;
}

.open-menu {
  visibility: visible;
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}

.header-bg-on {
  background-color: var(--color-bg-dark);
}

.nav-link {
  all: unset;
  padding: 2em;
  font-size: 2em;
  cursor: pointer;
}

#menu-icon {
  height: 2em;
  width: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.menu-icon-line {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color-txt-body);
}

#main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-dark);
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

#landing-page {
  height: 100%;
  z-index: -2;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

#main-txt {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 1em; 
}

#main-txt h1 {
  font-size: 36px;
  color: white;
}

#main-img {
  margin-bottom: calc(1em-10px);
  height: 100%;
  background-image: url('../assets/images/maciej.jpg');
  background-size: cover;
  filter: drop-shadow(-10px 10px 0px white);
}

.action-button {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  cursor: pointer;
  background-color: var(--color-accent);
  padding: 1.5em;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0px 5px 20px rgba(25, 162, 230, 0.4);
}

section {
  padding: 2em 1em;
}

.bg-dark, .bg-light, #reviews-section {
  scroll-margin-top: 1.5em;
  scroll-snap-align: start;
}

article {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

article .action-button {
  margin-bottom: 0.5em;
}

#big-img {
  width: 100%;
  height: calc(100vh - 18.25em);
  background-image: url('../assets/images/why_me.jpg');
  background-size: cover;
  filter: drop-shadow(-10px 10px 0px white);
}

#reviews-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 2em;
}

.review {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-review);
}

.review-img-container {
  height: 15.625em;
  width: 100%;
  display: flex;
}

.review-img {
  flex: 1;
}

.review-img img {
  height: 100%;
  object-fit: cover;
}

.review-txt {
  color: var(--color-txt-body);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.reviewer-details {
  font-size: 1em;
  font-weight: 600;
}

.review-txt p:nth-child(3) {
  margin-top: 0.5em;
}

footer {
  text-align: center;
  padding: 1em;
  font-size: 0.875em;
}

form input, textarea {
  width: 100%;
  font-size: 0.875em;
  padding: 0.625em;
  margin-bottom: 1em;
  border: 1px solid var(--color-bg-review);
  background-color: var(--color-bg-dark);
  color: var(--color-txt-placeholder);
}

textarea {
  resize: none;
  height: 10.25em;
}

#social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-media h3 {
  margin-top: 2em;
}

#social-media span {
  width: 100%;
  margin: 1em 0 2em 0;
  display: flex;
  justify-content: center;
  gap: 0.625em;
}

.outline-txt {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 4em;
  transform: translateY(-50%);
  padding-bottom: 0.5em;
  color: var(--color-bg-dark);
  font-weight: bolder; 
  text-shadow: 
      -2px -2px 0 white,
      -2px 2px 0 white,
      2px -2px 0 white,
      2px 2px 0 white;
  opacity: 0.1;
  white-space: nowrap;
}
